// Typo

// Font Sizes
$font-size-2xs: 12px;
$font-size-xs: 13px;
$font-size-ms: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 25px;
$font-size-2xl: 30px;
$font-size-3xl: 40px;

$font-size-desktop-s: 20px;
$font-size-desktop-m: 24px;
$font-size-desktop-xl: 35px;
$font-size-desktop-2xl: 45px;

// MQ
$desktopWidth: 1280px;
$smDesktopWidth: 1120px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// UI color
$ui-500: #4074b0;
$ui-400: #808080;
$ui-300: #dbecff;
$ui-200: #eff6ff;

$white: #ffffff;
$footer-bg: #303030;

// Accient color
$accient-500: #f6993a;

// Primary Color

// Success Color

// Error Color
